@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');
.welcome-note {
  text-align: center;
  width: 50%;
  left:30%;
  top: 10%;
  position: relative;

}


#close {
  position:fixed;
  left:65%;
  font-size: 20px;
}
#name {
  color:#33CCCC ;
  font-size: 40px;
}
